@import "tailwindcss";

:root {
  /* Paleta Zephira */
  --zephira-primary: #11d4c4;
  --zephira-dark: #102220;
  --zephira-light: #f6f8f8;
  --zephira-text: #111817;
  --zephira-muted: #618986;
}

@theme inline {
  --font-display: var(--font-manrope), sans-serif;
}

body {
  background-color: var(--zephira-light);
  color: var(--zephira-text);
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
